body{
	background: #E6EEF3;
	font-family:'※※※','ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック';
	font-size:16px;
	line-height:18px;
}
U
{
        color: #0000FF;
}
 
ul
{
        margin: 1px 1px 1px 30px;
}
 
TT
{
        color: #0000FF;
        text-decoration:underline;
}
	 
dl dt {
        margin-top:1em;
}
 
dl dd {
        margin-left:2em;
}
 
.popup {
        margin-left: 0px;
        margin-bottom: 1em;
        background: rgb(239, 255, 239);
}